<div class="manage-wrapper">    
    <!-- Content Heading -->
    <% if (title) { %>
        <h1>
            <%= title %>
        </h1>
    <% } else { 
        res.redirect('/') 
        } %>

    <!-- Message Block -->
    <%- messages()%>
    <div>
        <a href="/inv/add-classification">Add New Classification</a>
        <br>
        <a href="/inv/add-vehicle">Add New Vehicle</a>
    </div>
    <h2 id="manage">Manage Inventory</h2>
    <p>Select a classification</p>
    <%- classificationSelect %>
    <table id="inventoryDisplay"></table>
    <noscript>JavaScript must be enabled to use this page.</noscript>
    <script src="../../js/inventory.js"></script>
</div>
