<!DOCTYPE html>
<html>
    <head>
        <title>
            <%= title %>
        </title>
    </head>
    <body>
        <div class="error">
            <h1><%= title %></h1>
            <p><%= message %></p>
            <%- image %>
        </div>
       
    </body>
</html>